
button{
	padding: 5px 5px;
}

.demo-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 290px;
    height: 100%;
    
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;

}

.large_square{
	width: 48px;
    height: 48px;
    background-color: #FF8F42;
}

.shadow {
    position: absolute;
    opacity: .2;
}

.el{
    position: relative;
}

.k-board {
    position: relative;
    width: 110px;
    height: 550px;
	margin: 5px;
	padding: 0;
	border: 3px dashed red;
	float:left;
}

.k-menu{
    border: 3px dashed green;
    width: 140px;
}

.k-ticket{
	width: 46px;
    height: 46px;
    background-color: #FF8F42;
    position: absolute;
    margin: 2px;
    float: left;
}

.k-kanban-kanban{
    height: 46px;
    width: 46px;
    margin: 2px;
    border: 2px dashed yellow;
    float: left;
    position: absolute;
}

.k-board-logs {
    position: relative;
    width: 300px;
    height: 550px;
    border: 3px dotted blue;
}

.k-board-logs p{
    margin: 0;
    padding: 5px;
    font-size: 16px;
    text-align: left;
}